* {
    font-family: "Merienda", cursive;
}

body {
    color: green;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/123740332/original/60547d6091e5c71dfb5cf8e0841c7d3d77f89ae2/create-anime-background-style.jpg);
}

.container {
    background-color: rgba(0, 0, 0, 0.35);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    font-size: x-large;
    text-transform: capitalize;
}

.display {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 15px;
    margin: auto;
    background-image: linear-gradient( to top right, rgba(18, 194, 233, 0.6) 0%, rgba(29, 151, 108, 0.6) 35%, rgba(147, 249, 185, 0.6) 65%);
}

img {
    width: 100%;
    background-position: center;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}